<div ng-controller="CardCtrl">
    <div class="col-md-3">
        <button id="flip-bottom" class="btn btn-primary btn-lg " ng-click="flipAllCards()"> Flip</button>
    </div>
    <!--Sidebar-->
    <div id="wrapper">
        <div id="sidebar-wrapper">

            <div class="sidebar-nav ">

                <div ng-repeat="sidebarCard in cardList">
                    <div>
                        <div class="thumbnail" style="word-wrap: break-word " ng-show="!flipAll"> {{sidebarCard.phrase}}
                        </div>
                        <div class="thumbnail" style="word-wrap: break-word " ng-hide="!flipAll">
                            {{sidebarCard.translation}}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button id="sidebar-bottom" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#addCard"
                        ng-click="initAddButton()">
                    Add
                </button>
            </div>
        </div>
    </div>
    <!--End sidebar-->
    <!--Carousel-->
    <div class="row">

        <div class="col-md-offset-3 col-md-9">
            <carousel>
                <slide ng-repeat="carouselCard in cardList" active="carouselCard.active">
                    <div class="row">

                        <button class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#addCard"
                                ng-click="edit(carouselCard)"> edit
                        </button>
                        <button class="glyphicon glyphicon-remove" ng-click="removeCard(carouselCard)"> remove</button>
                    </div>

                    <div ng-mouseenter="flip=!flip" ng-mouseleave="flip=!flip" class="row col-md-8 col-lg-offset-2">
                        <div ng-show="!(!flip!=!flipAll)">
                            <!--(!flip!=!flipAll) this is XOR operator, like t (flip^flipAll)-->
                            </br></br></br>
                            <center>
                                <h1 style="word-wrap: break-word ">{{carouselCard.phrase}}</h1>
                            </center>
                            </br></br></br>
                        </div>

                        <div ng-hide="!(!flip!=!flipAll)">
                            </br></br></br>
                            <center>
                                <h1 style="word-wrap: break-word ">{{carouselCard.translation}}</h1>
                            </center>
                            </br></br></br>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <!--End carousel-->

    <!-- Modal ADD a Card -->
    <div class="modal fade" id="addCard" tabindex="-1" role="dialog" aria-labelledby="addCardLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form role="form">
                    <div class="modal-header">
                        <button type="button" ng-click="clear()" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="addCardLabel">Add new card</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputPhrase">Phrase:</label>
                            <input type="text" class="form-control" id="inputPhrase" ng-model="card.phrase">
                        </div>
                        <div class="form-group">
                            <label for="inputTranslate">Translate:</label>
                            <input type="text" class="form-control" id="inputTranslate" ng-model="card.translation">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="update(card)">Save
                        </button>
                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End modal ADD a Card-->
</div>